body {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
}
section {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
article {
  display: flex;
}
h1, h2, h3, p, ul, li {
  margin: 0;
}
  h1 {
    font-size: 2.5em;
    background-color: rgb(200, 200, 200);
  }
  h3 {
    border-bottom: 1px solid;
    padding: 0.25em;
  }
  p {
    font-size: 1.2em;
    margin-bottom: 1em;
    background-color: rgb(235, 235, 235);
    border-top: 1px solid;
    border-bottom: 1px solid;
  }
    h1, p {
      width: 100%;
      text-align: center;
      padding: 0.3em 0 0.3em 0;
    }
  ul {
    list-style: none;
    padding: 0;
  }
    li {
      padding: 0.3em;
    }
    li:nth-child(odd) {
      background-color: rgb(235, 235, 235);
    }

#titleName, #names {
  text-align: center;
}
#names {
  border-right: 1px dashed;
}
#occupations {
  min-width: 10em;
}
#starting-prices {
  text-align: left;
  text-indent: 35%;
}